.parrafo{
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    padding: 15px;
    color: blueviolet;
    font-size: large;
    font-weight: 400;
}
h1{
    text-align: center;
}
#a{
    background-color: pink;
}
body{
    background-color: rosybrown;
}
div{
    border: 2px solid black;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    text-align: center;
    padding: 15px;
}
#l{
    background-color: black;
}
#w{
    text-align: center;
}
span ul li{
    color: blueviolet;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#boton{
    background-color: palevioletred;
    border: 1px solid black;
    font-size: large;
    width: 500px;
}
.link{
    color: blueviolet;
}